<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
  </head>
<body>
	<a href="/singup"><h2 style="margin:30px; position:absolute; left:20px">Registration</h2></a>
	<a href="/login"><h2 style="margin:30px; position:absolute; left:750px">Login</h2></a>

</body>
</html>