<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
  </head>
  <body>
	    <div>
		    <form action="registration" method="post">
		  		<div>
		    		<label for="login">Login</label>
		      			<input type="text" id="login" placeholder="Login" name="login">
		  		</div>

		  		<div>
		    		<label for="passwd">Password</label>
		      			<input type="password" id="passwd" placeholder="Password" name="passwd">
		  		</div>

		  		<div>
		    		<div>
		      			<button type="submit">Sign up</button>
				    </div>
				</div>
			</form>
		</div>
  </body>
</html>
